
/* ----Header---------------------------------*/
body, header, footer{
    font-family: 'Raleway';
}
header{
    background: linear-gradient(180deg, rgba(141, 106, 175, 0.81) 22.97%, rgba(73, 12, 134, 0) 100%);
    background-color: #FFFFFF;
}
.textobg{
    color: white;
    font-size: 25px;
}
.btnEnviar{
    align-content: center;
    background: #A97798!important; 
    margin-bottom: 2rem; 
    border-radius: 10px; 
    border: none;
    color: white;
    font-size: 18px;
    /* Actualizacion para efecto boton*/
    transition: color 0.5s, background 0.5s!important;
}
/*-----Efecto------------------*/
.btnEnviar:hover{
    color: white!important;
    background-color:  #C4ACD8!important ;
}
.btnEnviar:active{
    box-shadow: inset 0 0 20px white!important;
}

/* .btnEnviar{
    align-content: center;
    background: #A97798!important;
    margin-bottom: 2rem; 
    border-radius: 10px; 
    border: none;
    color: white;
    font-size: 18px;
} */
.invalid-feedback{
    font-size: 5px;
    background: #FFFFFF;
}

#alertacampo1, #alertacampo2, #alertacampo3, #alertacampo4, #alertacampo5{
    font-weight: none;
    font-size: 14px;
    color: #A97798;
}

.card-body {
    background-color: #F9F9F9;
    border-radius: 0px 0px 10px 10px;
    
}
.card{
    border-radius: 10px 10px 10px 10px;
    border: none;
}
.card-img-top{
    border-radius: 10px 10px 0px 0px;
}
.btn-primary{
    background-color: #A97798;
    border-radius: 10px 10px 10px 10px;
    border: none;
}
.btn-primary:hover{
    background-color: #A97798;
    border: none;
}

.card-title{
    color: #512A5F;
    font-size: 1.2rem;
    text-align: left;
}
.card-text{
    font-size: 1.2rem;
    text-align: left;
}
/* ----Body---------------------------------*/
p {
    color: gray;
    text-align: center;
    font-size: 20px;
}

.alertaWarning {
    font-size: 15px
}


/* ----Footer---------------------------------*/
body{
    position: relative;
    padding-bottom: 15rem ;
    min-height: 100vh;
}/* Ajuste body para no alterar footer*/

.card_footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:  #EEBFFF!important;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
} /*Div card_footer*/

div .fondof{
	position: absolute;
    bottom: 0;
    width: 100%;
    background-color:  #EEBFFF!important;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.textjv{
    color: #24071a;
    font-weight: 700;
    text-decoration: none;
}
.custom-select:focus {
    border-color: #aa8eb1!important; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(193, 18, 234, 0.6)!important; 
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(193, 18, 234, 0.6)!important;
    opacity: 0.4;
}
div.cardBody{
	 background-color: #EEBFFF!important;
}



@media screen and (max-width: 576px) {

    header{
        background: linear-gradient(180deg, rgba(141, 106, 175, 0.81) 22.97%, rgba(73, 12, 134, 0) 100%);
        background-color: #FFFFFF;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
    }
    .bi-movil{
        font-size: 26px;
        top: 50px;
    }
    .card-body {
        text-align: center;
        background-color: #F9F9F9;
    }
    body{
        position: relative;
        padding-bottom: 45rem ;
        min-height: 100vh;
    }/* Ajuste body para no alterar footer*/

}