
.titulo{
    font-weight: 400;
    font-size: 73px;
    line-height: 86px;
    text-align: center;
    color: #512A5F; 
    margin-bottom: 2rem;
}

.subtitulo{
    font-weight: 100;
    font-size: 30px;
    line-height: 25px;
    text-align: left;
    color: black; 
    margin-top: 10px;
}
.ancla{
    display: flex;
    justify-content: right;
    font-size: 20px;
    padding: 0px;
    letter-spacing: 8px;
    margin-bottom: auto;
}

.ico{
    color: #512A5F !important;
}

.ico:hover{
    color: #8f52a5 !important;
}

.descripcion{
    display: flex;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    color:  #512A5F; 
    margin-bottom: 1rem;
}

.form-control:focus {
    border-color: #c112ea; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(193, 18, 234, 0.6); 
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(193, 18, 234, 0.6);
}

.fondocard{
    background: #FFFFFF;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 6px 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #21005D;
    text-align: justify;
    padding-bottom: 1rem;
}
.fontbold{
    font-weight: 700;
    text-align:center;
}
.rd{
    border-radius: 30px;
}

.carta{
    width: auto;
    height: auto;
}

.descripcion{
    margin-top: 1rem;
}


.ancla:hover{
    color: #512A5F;
}


@media screen and (max-width: 576px) {
    .subtitulo{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 2rem;
        font-size: 23px;
    }
    .descripcion{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 2rem;
        font-size: 20px;
    }
    .titulo-principal{
        font-size: 45px;
    }

}